## Introduction
Your task is to download, pre-process and display the free public Lending Club dataset which contains anonymised details of account activity from
LendingClub loan activity. You should use python pandas for the pre-processing and JavaScript to display the results.

Data Lending Club Loan Data file: https://www.lendingclub.com/info/download-data.action
Pre-process
You should apply the following transforms to the data:
    
1. Read the csv into a Python pandas dataframe
2. Select just the grade, home_ownership, funded_amnt and funded_amnt_inv fields
3. Add a user_id column, which should be a sequence from 0 to n
4. Fill in the missing grade values with the most frequent value in that column
5. Replace missing home_ownership values with the median value for that column
6. Normalise the funded_amnt data so that it is scaled from 1-100
7. Optional, if you have time: Randomly permute the rows in the funded_amnt_inv column and interpolate the missing values (ideally using a linear
interpolation)
8. Write the data out in a format that is consumable by JavaScript

In [4]:
import pandas as pd

# 1. Read the csv into a Python pandas dataframe
# 2. Select just the grade, home_ownership, funded_amnt and funded_amnt_inv fields

data = pd.read_csv("LoanStats3a.csv", skiprows=[0],usecols=["grade", "home_ownership", "funded_amnt", "funded_amnt_inv"])
data.head()

   funded_amnt  funded_amnt_inv grade home_ownership
0       5000.0           4975.0     B           RENT
1       2500.0           2500.0     C           RENT
2       2400.0           2400.0     C           RENT
3      10000.0          10000.0     C           RENT
4       3000.0           3000.0     B           RENT

In [5]:
# 3. Add a user_id column, which should be a sequence from 0 to n
data.insert(0, 'user_id', range(0, len(data)))
data.head()

   user_id  funded_amnt  funded_amnt_inv grade home_ownership
0        0       5000.0           4975.0     B           RENT
1        1       2500.0           2500.0     C           RENT
2        2       2400.0           2400.0     C           RENT
3        3      10000.0          10000.0     C           RENT
4        4       3000.0           3000.0     B           RENT

In [6]:
#4. Fill in the missing grade values with the most frequent value in that column

# group and count the grades
grades = data.groupby(['grade']).size()

# get the index of the max value
mcv = grades.idxmax()

# fill nan with the most common value (mcv)
data["grade"] = data["grade"].fillna(mcv)

data["grade"].head()

0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

In [39]:
# 5. Replace missing home_ownership values with the median value for that column

# group and count the home_ownership
homeOwn = data.groupby(['home_ownership']).size()

print(homeOwn)
# get the median of the count and find the value
medianCount = homeOwn.median()
medianValue = 0
for val in homeOwn.index:
    if homeOwn[val]==medianCount:
        medianValue = val

# fill nan with the median value
data["home_ownership"] = data["home_ownership"].fillna(medianValue)

data["home_ownership"].head()

home_ownership
MORTGAGE    18959
NONE            8
OTHER         136
OWN          3254
RENT        20181
dtype: int64

0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
Name: home_ownership, dtype: object

In [85]:
# 6. Normalise the funded_amnt data so that it is scaled from 1-100

from sklearn import preprocessing 
import numpy as np

# fill nan with zeroes
data["funded_amnt"] = data["funded_amnt"].fillna(0)

# using MinMaxScaler convert the value to a range fro 1-100
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(1, 100))
np_scaled = min_max_scaler.fit_transform(data["funded_amnt"])
data["funded_amnt"] = np_scaled

# test if range is correct
print("min: " + str(np_scaled.min()) + ", max: " + str(np_scaled.max()))

0        15.142857
1         8.071429
2         7.788571
3        29.285714
4         9.485714
5        15.142857
6        20.800000
7         9.485714
8        16.840000
9        16.203571
10       19.385714
11       34.942857
12       26.457143
13        9.485714
14       29.285714
15        3.828571
16       29.285714
17       11.182857
18       17.971429
19       27.022857
20       58.278571
21       60.400000
22       29.285714
23       29.285714
24       17.971429
25       43.428571
26       43.428571
27       15.142857
28       12.314286
29       25.042857
           ...
42508    17.971429
42509    16.132857
42510     6.374286
42511    29.285714
42512     6.657143
42513    17.971429
42514    13.445714
42515     4.394286
42516    15.142857
42517     4.960000
42518     3.828571
42519    15.142857
42520     8.071429
42521     9.485714
42522     8.354286
42523     3.828571
42524     4.606429
42525    19.244286
42526    30.700000
42527     9.485714
42528     9.485714
42529     6.657143
42530    19.385714
42531    10.900000
42532     3.828571
42533     8.142143
42534    19.385714
42535    15.142857
42536     1.000000
42537     1.000000
Name: funded_amnt, Length: 42538, dtype: float64
min: 1.0, max: 100.0

/usr/local/lib/python3.5/dist-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [86]:
# 7. Optional, if you have time: Randomly permute the rows in the funded_amnt_inv column and interpolate the missing values (ideally using a linear
# interpolation)

subset = data["funded_amnt_inv"]
# randomly permutate the funded_amnt_inv using numpy random permutation
perm = subset.reindex(np.random.permutation(subset.index))

# interpolate the permutated rows
interpolated = perm.interpolate(method="linear")
data["funded_amnt_inv"] = np.array(interpolated)

print(interpolated[0:10])
print(data["funded_amnt_inv"][0:10])

33717    4322.878093
11731    4361.440618
2794     5077.726086
18173    4690.086957
17934    5644.666448
4304     4634.889808
17393    8355.235550
34955    4968.466182
36813    4921.548468
14765    5378.629490
Name: funded_amnt_inv, dtype: float64
0    4322.878093
1    4361.440618
2    5077.726086
3    4690.086957
4    5644.666448
5    4634.889808
6    8355.235550
7    4968.466182
8    4921.548468
9    5378.629490
Name: funded_amnt_inv, dtype: float64

In [12]:
# 8. Write the data out in a format that is consumable by JavaScript

with open('html/temp.json', 'w') as f:
    f.write("[" + data.to_json(orient='records')[1:-1].replace('},{', '},{') + "]")